<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="custom_deliverydate_to_quote"
                type="Adobe\CustomDeliveryDate\Plugin\Checkout\Model\ShippingInformationManagementPlugin"
                sortOrder="1"/>
    </type>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="shipping_datetime" xsi:type="string">sales_order.shipping_datetime</item>
            </argument>
        </arguments>
    </virtualType>
</config>
